.lane {
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #5e7b80;
    border-top: solid 1px #536e73;
    box-sizing: border-box;
    user-select: none;
    /*noinspection CssUnknownProperty*/
    scrollbar-color: #69878c #5e7b80;
}
.lane::-webkit-scrollbar {
    height: 14px;
}
.lane::-webkit-scrollbar-thumb {
    background-color: #69878c;
    border-top: solid 1px #5c7980;
    height: 100%;
    border-radius: 7px;
    cursor: grab;
    transition: background-color 0.4s;
    border-bottom: solid 1px #536d73;
}
.lane::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #7f9ea3;
}
.lane::-webkit-scrollbar-track {
    background-color: #5e7b80;
    height: 100%;
    border-bottom: solid 1px #546e73;
}
.canvas {
    /*position: absolute;*/
    transform-origin: 0 0;
}
