.background,
.clickable,
.hovering {
  position: absolute;
  transform-origin: 0 0;
  box-sizing: border-box;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.hovering {
  box-shadow: 12px 12px 12px 0 rgba(0, 0, 0, 0.2), -2px 2px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card {
  position: absolute;
  transform-origin: 0 0;
}

.caption {
  position: absolute;
  pointer-events: none;
  transform-origin: 0 0;
  overflow: hidden;
}

.hoverElement {
}

.hoverElement:hover {
  stroke: rgba(0,0,0,0.5);
  stroke-width: 1;
}
