
.background {
  position: absolute;
  transform-origin: 0 0;
}

.clickable {
  position: absolute;
  transform-origin: 0 0;
  cursor: pointer;
}

.clickable:hover {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}


.card {
  position: absolute;
  transform-origin: 0 0;
}

.caption {
  position: absolute;
  pointer-events: none;
  transform-origin: 0 0;
}

.hoverElement {
}

.hoverElement:hover {
  stroke: rgba(0,0,0,0.5);
  stroke-width: 1;
}