@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 0.5;}
}
.menu {
  display: flex;
  flex-direction: row;
  position: absolute;
  transform-origin: 0 0;
  z-index: 3;
}
.iconAbsolute {
  position: absolute;
  transform-origin: 0 0;
  opacity: 0.5;
  z-index: 3;
  animation: fadeIn 0.5s;
  cursor: pointer;
}
.icon {
  opacity: 0.3;
  margin-right: 6px;
  cursor: pointer;
  overflow: visible;
}
.icon:hover,
.iconAbsolute:hover {
  opacity: 0.7!important;
}
.icon:active,
.iconAbsolute:active{
  opacity: 0.8!important;
}
