.panel {
  position: absolute;
  transform-origin: 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 8px 8px 0 8px;
  justify-content: stretch;
  background-color: #99babf;
  border-right: solid 1px #85a1a6;
  border-top: solid 1px #85a1a6;
  border-bottom: solid 1px #85a1a6;
  border-left: solid 1px #65868c;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  min-height: 300px;
}