.radioBar, .radioPanel {
  display: flex;
  position: absolute;
  transform-origin: 0 0;
  background-color: #e0e0dc;
  border-radius: 6px;
  padding: 4px;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.15);
}

.radioPanel {
  padding-left: 8px;
  padding-right: 8px;
}

.buttonActive,
.buttonInactive {
  border-radius: 3px;
  margin: 1px;
  min-width: 60px;
  height: 23px;
  box-sizing: border-box;
  padding: 5px 2px 4px 2px;
  font-size: 12px;
  text-align: center;
  user-select: none;
}

.label {
  margin-right: 10px;
  min-width: 60px;
  height: 20px;
  padding-top: 5px;
  padding-left: 2px;
  margin-bottom: 2px;
  font-size: 14px;
  color: #8c8c81;
}

.buttonInactive {
  color: #696966;

  cursor: pointer;
}

.buttonInactive:hover {
  background-color: #d1d1d1
}

.buttonActive {
  background-color: #696966;
  color: #EEEEEA;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.15);
}
