.app {
  background-color: #F5F5F3;
}

.absolute {
  position: absolute;
  transform-origin: 0 0;
}

.focus {
  transform-origin: 0 0;
  position: absolute;
}

.label {
  position: absolute;
  margin-right: 10px;
  min-width: 60px;
  height: 20px;
  padding-top: 5px;
  padding-left: 2px;
  margin-bottom: 2px;
  font-size: 14px;
  color: #8c8c81;
}

.pin {
  position: absolute;
  background-image: url("public/Pin.svg");
  background-size: cover;
  width: 24px;
  height: 24px;
    cursor: pointer;
  z-index: 1;
}

.pin:hover {
  background-image: url("public/CloseButton.svg");
  opacity: 0.6;
}

.pin:active {
  opacity: 0.7;
}