.lane {
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #F5F5F3;
    border-top: solid 1px #d9d9d9;
    box-sizing: border-box;
    user-select: none;
    /*noinspection CssUnknownProperty*/
    scrollbar-color: #c7c7c5 #e6e6e4;
}
.lane::-webkit-scrollbar {
    height: 14px;
}
.lane::-webkit-scrollbar-thumb {
    background-color: #dbdbd9;
    border-top: solid 1px #d9d9d7;
    height: 100%;
    border-radius: 7px;
    cursor: grab;
    transition: background-color 0.4s;
    border-bottom: solid 1px #d9d9d7;
}
.lane::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #c7c7c5;
}
.lane::-webkit-scrollbar-track {
    background-color: #e6e6e4;
    height: 100%;
    border-bottom: solid 1px #d9d9d7;
}
.canvas {
    /*position: absolute;*/
    transform-origin: 0 0;
}

.pinnedBackground {
    position: absolute;
    transform-origin: 0 0;
    background-color: #ebebe9;
}
